t-combobox-list {
  z-index: 30000;
  .t-item {
    padding: 8px 16px;
    cursor: pointer;
  }

  .t-item-focused {
    background-color: #f2f2f2;
  }

  .t-item-detail {
    font-size: .8rem;
    color: gray;
  }
}
