
$choices-bg-color: tranparent;
$choices-bg-color-disabled: transparent;
$choices-primary-color: #a0a0a0;
$choices-button-icon-path: '';
$choices-selector: 'choices';

@import 'node_modules/choices.js/src/styles/choices.scss';

t-combobox-choices {

  display: block;
  width: 100%;
  overflow: visible;

  .choices[data-type*="select-one"]:after {
    border-color: rgb(171,171,171) transparent transparent transparent;
    top: auto !important;
    bottom: 7px;
    right: 5px;
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 3px;
  }

  .choices__inner {
    // Remove bordas e padroniza layout do choices como se fosse um ion-input
    border: none;
    padding-left: 0;
    min-height: 35px;

    .choices__list--single {
      padding-top: 2px;
      padding-left: 0;
      padding-bottom: 0;
      font-size: 16px;
    }

    .choices__input {
      background-color: transparent;
    }
  }

  .choices__list--dropdown{
    z-index: 10;
  }

  @media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
      padding-right: 10px !important;
    }
  }

  .choices.is-disabled {
    pointer-events: none;
    color: lightgray;
  }
}

.item.item-t-combobox-choices{
  overflow: visible;
}

.item:not(.item-has-value) .choices__button {
  /* Hide remove button if there is no value */
  display: none;
}