t-combobox-popover-list {
    --box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    --border-color: var(
        --ion-item-border-color,
        var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );

    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    background-color: white;
    display: block;
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 20000;
    box-shadow: var(--box-shadow);
    border-radius: 0 0 4px 4px;

    z-index: 30000;
    .t-item {
        padding: 8px 16px;
        cursor: pointer;
    }

    .t-item-focused {
        background-color: #f2f2f2;
    }

    .t-item-detail {
        font-size: 0.8rem;
        color: gray;
    }
}
