t-container {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  t-container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  t-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  t-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  t-container {
    max-width: 1140px;
  }
}

t-container.fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
