t-combobox-modal {
  position: relative;
  display: block;
  width: 100%;

  &:not([readonly])::after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: rgb(171,171,171) transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    margin-top: -2.5px;
    pointer-events: none;
  }

  &:not(.t-disabled):not([readonly]) {
    cursor: pointer;
  }

  .t-text {
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
  }

  .t-placeholder {
    color: #999;
  }

  .t-clear {
    position: absolute;
    right: 16px;
    bottom: 4px;
    margin: 0;
  }
}

ion-item t-combobox-modal {
  z-index: 2;
}
