t-combobox-modal {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  width: 100%;

  ion-input {
    width: 100px;
  }

  .t-clear{
    --padding-end: 0;
  }
}