t-select {
  position: inherit;
  display: block;
  flex: 1;
  width: 100%;
  margin-left: 0;
  padding-right: 0;

  ion-input {
    --padding-top: 8px;
    --padding-end: 0;
    --padding-bottom: 8px;
    --padding-start: 0;
  }

  &:not([readonly])::after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: rgb(171,171,171) transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 27px;
    bottom: 10px;
    margin-top: -2.5px;
    pointer-events: none;
  }

  select {
    height: 38px;
    background-color: transparent;
    display: block;
    border: 0;
    outline: none;
    width: 100%;
    appearance: none;
  }
}

.item.item-t-select.item-has-focus {
  pointer-events: initial;
}
