t-select {
  position: relative;
  display: block;
  flex: 1;
  width: 100%;
  margin-left: 0;
  padding-right: 0;

  // &:not([readonly])::after {
  //   content: "";
  //   height: 0;
  //   width: 0;
  //   border-style: solid;
  //   border-color: rgb(171,171,171) transparent transparent transparent;
  //   border-width: 5px;
  //   position: absolute;
  //   right: 5px;
  //   bottom: 10px;
  //   margin-top: -2.5px;
  //   pointer-events: none;
  // }

  select {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);

    height: 38px;
    background-color: transparent;
    display: block;
    border: 0;
    outline: none;
    width: 100%;
    appearance: none;
  }
}

.item.item-t-select.item-has-focus {
  pointer-events: initial;
}

t-select {
  --padding-top: 10px;
  --padding-end: 0;
  --padding-bottom: 10px;
  --padding-start: 8px;
  font-size: inherit;
}

.item-label-floating t-select, 
.item-label-stacked t-select {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 0;
}